version: "3.8"

services:
  app:
    image: ${DOCKER_IMAGE}:${IMAGE_TAG}
    container_name: nova-app
    restart: always
    ports:
      - "8080:8080"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1" ]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 60s
    environment:
      - "SPRING_PROFILES_ACTIVE=prod"
    volumes:
      - ./nova:/app/config
    logging: &default-logging
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  nginx:
    image: nginx:latest
    ports:
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/nginx/ssl
    restart: always
    depends_on:
      - app
    logging: *default-logging

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=15d'
      - '--web.enable-remote-write-receiver'
    expose:
      - "9090"
    restart: always
    logging: *default-logging

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/data:/var/lib/grafana
    restart: always
    logging: *default-logging

  loki:
    image: grafana/loki:latest
    container_name: loki
    volumes:
      - ./loki/loki.yml:/etc/loki/loki.yml # 이름 일치!
    command: -config.file=/etc/loki/loki.yml
    restart: always
    logging: *default-logging

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    volumes:
      - ./alloy/alloy.yml:/etc/alloy/config.alloy # 이름 일치!
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command: run --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    restart: always
    logging: *default-logging