spring:
  application:
    name: nova-server

  datasource:
    url: jdbc:mysql://localhost:3306/nova
      ?serverTimezone=Asia/Seoul
      &characterEncoding=UTF-8
      &useSSL=false
    username: root
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        show_sql: false



logging:
  level:
    root: INFO
    org.hibernate.SQL: INFO